<aside class="menu">
  <p class="menu-label">
    Merchant Service
  </p>
  <ul class="menu-list">
    <li>
      <a href="{{ "/document/merchantservice/overview" | relative_url }}" {% if pUri == 'document/merchantservice/overview' %}class="is-active"{% endif %} >Overview</a>
    </li>
    <li>
      <a href="{{ "/document/merchantservice/security" | relative_url }}" {% if pUri == 'document/merchantservice/security' %}class="is-active"{% endif %} >Security</a>
    </li>
    <li>
      <a href="{{ "/document/merchantservice/sign-up" | relative_url }}" {% if pUri == 'document/merchantservice/sign-up' %}class="is-active"{% endif %} >Sign up</a>
    </li>
  </ul>
  <p class="menu-label">
    Membership
  </p>
  <ul class="menu-list">
    <li>
      <a href="{{ "/document/membership/concepts" | relative_url }}" {% if pUri == 'document/membership/concepts' %}class="is-active"{% endif %} >Concepts</a>
    </li>
    <li>
      <a href="{{ "/document/membership/api" | relative_url }}" {% if pUri == 'document/membership/api' %}class="is-active"{% endif %} >REST APIs</a>
    </li>
    <li>
      <a href="{{ "/document/membership/sdks" | relative_url }}" {% if pUri == 'document/membership/sdks' %}class="is-active"{% endif %} >SDKs</a>
    </li>
    <li>
      <a href="{{ "/document/membership/tests" | relative_url }}" {% if pUri == 'document/membership/tests' %}class="is-active"{% endif %} >Tests</a>
    </li>
  </ul>
</aside>
