<footer class="footer">
    <div class="container">
        <div class="content has-text-centered is-small">
            <p>
                Handcrafted by <strong>Wayne WEN</strong> with <span style="color: #ff3860;"><i class="fa fa-heart" aria-hidden="true"></i></span>
                and <span style="color: #593C1F;"><i class="fa fa-coffee" aria-hidden="true"></i></span>. The S2P SDK is
                licensed
                <a href="https://opensource.org/licenses/Apache-2.0">Apache License, Version 2.0</a>.
            </p>
            <p>
                © 2017 Samsung Pay, Inc. All rights reserved.
            </p>
        </div>
    </div>
</footer>

<!-- <footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title | escape }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>
            {% if site.author %}
              {{ site.author | escape }}
            {% else %}
              {{ site.title | escape }}
            {% endif %}
            </li>
            {% if site.email %}
            <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description | escape }}</p>
      </div>
    </div>

  </div>

</footer> -->
