<section class="hero is-primary is-medium">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-vcentered">
        <div class="column">
          <p class="title">
            Samsung Pay
          </p>
          <p class="subtitle">
            The guideline  of <strong>Save to Samsung Pay</strong> and Samsung Pay Merchant service REST API documentations
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="hero-foot">
    <div class="container">
      <nav class="tabs is-boxed">
        <ul>
          <li {% if pUri == '/' %}class="is-active"{% endif %} >
            <a href="{{ "/" | relative_url }}">Overview</a>
          </li>
          <li {% unless pUri == '/' %}class="is-active"{% endunless %} >
            <a href="{{ "/merchantservice/registration" | relative_url }}">Docs</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>

</section>
