<section class="hero is-info is-bold">

  <div class="hero-head">
    <header class="nav">
      <div class="container">
        <div class="nav-right nav-menu">
          <span class="nav-item">
            <a class="button is-primary" href="https://twitter.com/{{ site.twitter_username }}" target="_blank">
              <span class="icon">
                <i class="fa fa-twitter" aria-hidden="true"></i>
              </span>
            </a>
          </span>
          <span class="nav-item">
            <a class="button is-primary" href="https://github.com/{{ site.github_username }}" target="_blank">
              <span class="icon">
                <i class="fa fa-github" aria-hidden="true"></i>
              </span>
            </a>
          </span>
        </div>
      </div>
    </header>
  </div>

  <div class="hero-body">
    <div class="container">
      <div class="columns is-vcentered">
        <div class="column">
          <p class="title">
            Samsung Pay
          </p>
          <p class="subtitle">
            The guideline  of <strong>Save to Samsung Pay</strong> and documentation of Samsung Pay Merchant service
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="hero-foot">
    <div class="container">
      <nav class="tabs is-boxed">
        <ul>
          <li {% if pUri == '/' %}class="is-active"{% endif %} >
            <a href="{{ "/" | relative_url }}">OVERVIEW</a>
          </li>
          <li {% if pUri contains 'document/merchantservice/' %}class="is-active"{% endif %} >
            <a href="{{ "/document/merchantservice/overview" | relative_url }}">DOCUMENTATION</a>
          </li>
          <li {% if pUri contains 'reference/' %}class="is-active"{% endif %} >
            <a href="{{ "/reference/uxguidelines" | relative_url }}">REFERENCE</a>
          </li>
          <li {% if pUri contains 'support/' %}class="is-active"{% endif %} >
            <a href="{{ "/support/terms" | relative_url }}">SUPPORT</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>

</section>
