<section class="hero is-primary">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-vcentered">
        <div class="column">
          <p class="title">
            Samsung Pay
          </p>
          <p class="subtitle">
            The guideline  of <strong>Save to Samsung Pay</strong> and Samsung Pay Merchant service REST API documentations
          </p>
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="hero-foot">
    <div class="container">
      <nav class="tabs is-boxed">
        <ul>
          <li class="is-active">
            <a href="#">Overview</a>
          </li>
          <li>
            <a href="#">Tab1</a>
          </li>
        </ul>
      </nav></div>
    </div> -->

</section>
