{% assign pUri = page.uri %}

<aside class="menu">
  <p class="menu-label">
    General
  </p>
  <ul class="menu-list">
    <li><a href="{{ "/" | relative_url }}" {% if pUri == 'index' %}class="is-active"{% endif %} >Overview</a></li>
  </ul>
  <p class="menu-label">
    Membership
  </p>
  <ul class="menu-list">
    <li><a href="{{ "/membership/get-started" | relative_url }}" {% if pUri == 'membership/get-started' %}class="is-active"{% endif %} >Get Started</a></li>
    <li><a href="{{ "/membership/concepts" | relative_url }}" {% if pUri == 'membership/concepts' %}class="is-active"{% endif %} >Concepts</a></li>
    <li><a href="{{ "/membership/api" | relative_url }}" {% if pUri == 'membership/api' %}class="is-active"{% endif %} >REST APIs</a></li>
    <li><a href="{{ "/membership/sdks" | relative_url }}" {% if pUri == 'membership/sdks' %}class="is-active"{% endif %} >SDKs</a></li>
  </ul>
  <p class="menu-label">
    Gift Card
  </p>
  <ul class="menu-list">
    <li><a href="#">To be implemented</a></li>
  </ul>
</aside>
