{% assign pUri = page.uri %}

<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

{% include head.html %}

<body>

  {% include header.html %}

  <section class="section">
    <div class="container">

      {% case pUri %}
      {% when '/' %}

      <div class="column">
        <div class="content">

          {{ content }}

        </div>
      </div>

      {% else %}

        <div class="columns">
          <div class="column is-2">

          {% if pUri contains 'document/' %}
            {% include document/side_nav.html %}

          {% elsif pUri contains 'reference/'  %}
            {% include reference/side_nav.html %}

          {% elsif pUri contains 'support/'  %}
            {% include support/side_nav.html %}

          {% endif %}

          </div>
          <div class="column">
            <div class="content">

              {{ content }}

            </div>
          </div>
        </div>

      {% endcase %}

    </div>
  </section>

  <!-- {% include footer.html %} -->
</body>

</html>
