{% assign pUri = page.uri %}

<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

{% include head.html %}

<body>

  {% include header.html %}

  <section class="section">
    <div class="container">

      {% if pUri == '/' %}

      <div class="column">
        <div class="content">

          {{ content }}

        </div>
      </div>

      {% else %}

      <div class="columns">
        <div class="column is-2">

          {% include side_nav.html %}

        </div>
        <div class="column">

          <div class="content">

            {{ content }}

          </div>

        </div>
      </div>

      {% endif %}

    </div>
  </section>

</body>

</html>
