---
layout: default
---

<link href="{{ "/assets/swagger-ui/swagger-ui.css" | relative_url }}" rel='stylesheet' type='text/css'/>

{% comment %}
  WARNING: The css trick to hide out the topbar of vanilla swagger ui
{% endcomment %}
<style>
#swagger_s2p div.topbar {
  display:none;
}
#swagger_s2p pre.version {
  background-color: inherit;
  padding: 0 !important;
}
#swagger_s2p div.scheme-container div.auth-wrapper  {
  display:none;
}
#swagger_s2p div.information-container.wrapper hgroup.main pre.base-url  {
  display:none;
}
</style>

<div id="swagger_s2p"></div>

<script src="{{ "/assets/swagger-ui/swagger-ui-bundle.js" | relative_url }}"></script>
<script src="{{ "/assets/swagger-ui/swagger-ui-standalone-preset.js" | relative_url }}"></script>

<script>
window.onload = function() {
  // Build a system
  const ui = SwaggerUIBundle({
    spec: {{ site.data.api[page.spec] | jsonify }},
    dom_id: '#swagger_s2p',
    presets: [
      SwaggerUIBundle.presets.apis,
      SwaggerUIStandalonePreset
    ],
    plugins: [
      SwaggerUIBundle.plugins.DownloadUrl
    ],
    layout: "StandaloneLayout"
  })

  window.ui = ui
}
</script>
